body {
  background-color: #cbcbcb;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #828282;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

nav ul {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  display: inline;
  margin: 10px;
  font-size: larger;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #3b3a3a;
}

nav img {
  border-radius: 10%;
  width: 25%;
}

header {
  background-color: #063aa3;
  color: white;
  text-align: center;
  padding: 10px;
}

#slider {
  overflow: hidden;
  width: 100%;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
}

@media screen and (max-width: 768px) {
  #slider figure img {
    height: 250px;
  }
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

#imgs-service {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #063aa3;
  color: white;
}

#service-times {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

#service-times h2 {
  margin: 0;
  padding: 0;
  font-size: xx-large;
}

#service-times p {
  font-size: large;
}

#events {
  width: 100%;
  text-align: center;
}

#events ul {
  list-style-type: none;
}

#prayer-camp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#prayer-camp h2 {
  margin: 0;
  padding: 0;
  font-size: xx-large;
  text-align: center;
}

#prayer-camp p {
  font-size: large;
  text-align: center;
  padding: 10px;
}
#prayer-camp button {
  background-color: #063aa3;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 10px;
}

#prayer-camp button:hover {
  background-color: #3e5e9d;
  color: black;
  cursor: pointer;
}

footer {
  background-color: #828282;
  color: white;
  text-align: center;
  padding: 10px;
}

a {
  color: rgb(16, 158, 234);
}

a::after {
  color: rgb(9, 80, 118);
}
